* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --color--btn: ;
    --color--background: ;
    --color--first: ;
    --color--second: ;


    --font-heading: 'Delicious Handrawn', cursive;;
    --font-p:'Delicious Handrawn', cursive; ;
}

body {
    width: 100%;
    background-color: rgba(151, 145, 153, 0.479);
}

/* nav baar start */

.navbar {
    height: 60px;
    width: 100%;
    background-color: rgb(218, 136, 136);
    display: flex;
    justify-content: space-between;
    line-height: 60px;



}

.logo {
    margin-left: 50px;
}

.navbar ul a {
    /* float: right; */
    text-decoration: none;
    margin: 20px;
    text-transform: uppercase;



}

.navbar ul {
    display: flex;
    list-style: none;

}

.navbar ul :hover,
.navbar ul a.active {
    text-decoration: underline;
    color: lightgrey;


}


/* navbar end */





/* main start */

.container {
    width: 100%;
    height: max-content;
    /* border: 2px solid rebeccapurple; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px 20px;
}

.box {
    height: 500px;
    width: 250px;
    padding: 0px 10px;
    border-radius: 6px;
    background-color: rgba(255, 205, 205, 0.671);
    box-shadow: 3px 3px 15px 0px;
    


}

h2 {
    text-align: center;
    background-color: rgba(145, 140, 150, 0.459);
    text-transform: uppercase;
    font-size:xx-large;
}

h1 {
    text-align: center;

}

.maleimg {
    height: 380px;
    width: auto;
    background-image: url(./img/gal2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation-name: maleimg;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;


}

@keyframes maleimg {
    0% {
        background-image: url(./img/male.jpg);
    }

    25% {
        background-image: url(./img/male1.jpg);
    }

    75% {
        background-image: url(./img/male2.jpg);
    }

    100% {
        background-image: url(./img/male3.jpg);
    }

}

.femaleimg {
    height: 380px;
    width: auto;
    background-image: url(./img/gal2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation-name: femaleimg;
    animation-duration: 22s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;


}

@keyframes femaleimg {
    0% {
        background-image: url(./img/girl.jpg);
    }

    33% {
        background-image: url(./img/girl1.jpg);
    }

    66% {
        background-image: url(./img/girl2.jpg);
    }

    100% {
        background-image: url(./img/girl3.jpg);
    }

}

.kidsimg {
    height: 380px;
    width: auto;
    background-image: url(./img/gal2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation-name: kidsimg;
    animation-duration: 36s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;


}


@keyframes kidsimg {
    0% {
        background-image: url(./img/kids.jpg);
    }

    25% {
        background-image: url(./img/kids1.jpg);
    }

    75% {
        background-image: url(./img/kids2.jpg);
    }

    100% {
        background-image: url(./img/kids3.jpg);
    }

}













button {
    text-transform: uppercase;
    padding: 0.5vh;
    cursor: pointer;
  font-family: var(--font-heading);
  border: none;
  background-color: rgba(233, 162, 162, 0.705);
  border-radius: 5px;
  font-weight: 900;
}
button:hover{
background-color: rgba(0, 0, 0, 0.658);
color: rgba(233, 162, 162, 0.801);

}

.pr {
    display: flex;
    /* background-color: rebeccapurple;   */
    height: 30px;
    margin-top: 22px;
    justify-content: space-around;
}

/* mainend */

/* /* sectionstart  */

footer {
    /* width: 100%; */
    /* border: 2px solid brown; */
    height: max-content;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   

}


.service {
    /* border: 2px solid royalblue; */
    width: 350px;
    /* height: 460px; */
font-family: var(--font-p);
margin-top: 30px;
background-color: rgba(255, 205, 205, 0.671);
border-radius: 15px;
padding: 0px 15px;

}

.contactus {
    width: 350px;
    font-family: var(--font-p);
    margin-top: 30px;
    /* border: 2px solid lawngreen; */
    /* height: 460px; */
    background-color: rgba(255, 205, 205, 0.671);
border-radius: 15px;
padding: 0px 15px;
}
.contactus i{
    cursor: pointer;
    font-size: 50px;
    text-align: center;
    
    min-width: 50px;
    margin-left: 40%;
}